header {
  background-color: var(--surface-color);
  & a:first-child {
    margin-right: auto;
  }


  & .img-profile-sm {
    width: 2.5rem;
  }
}

a.search {
  --bg-img: "";
  background-image: var(--bg-img);
  width: 24px;
  height: 24px;
  display: block;

  &[aria-label="search"] {
    --bg-img: url(../assets/icons/search.svg);

    &:hover {
      --bg-img: url(../assets/icons/searchs-hover.svg);
    }
  }
}