#profile{
  background-color: var(--surface-color);
  & .container{
    padding-inline: 2rem;
    flex-direction: column;

    & h1{
      margin-bottom: 0.5rem;
    }

    & p{      
      width: 296px;
      font-size: var(--fs-md);
      line-height: 170%;
    }
  }

  & .img-perfil{
    align-self: flex-start;
    width: 7.5rem;
    margin-bottom: 16px;
  }


  & .profile-description{
    align-self: flex-start;
    margin-bottom: 2rem;
  }

  & .trips{
    width: 17.5rem;
    text-align: start;
    align-self: flex-start;
  }
}

@media (width >= 80em){

  #profile{
    & .img-perfil{
      width: 11rem;
      margin-right: 2rem;
      margin-bottom: 0;
    }


    & .container{
      flex-direction: row;
    }

    
  & .profile-description{
    max-width: 37rem;
    margin-right: auto;
    margin-bottom: 0rem;
    align-self: center;

    & p{
      width: 24rem;
    }
    }

    & .trips{
      align-self: center;
    }
  }
}
